body{
    margin: 0px !important;
    padding: 0px !important;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 1px 1px 5px  gray;
    padding: 20px 0px;
    position: sticky;
}

.navbar > .logo > img{
    width: 30px;
    padding:0px 20px;
}

.navbar > .menu-list {
    list-style:none;
    list-style-type:none;
    margin:0;
    padding: 0;
}

.navbar > .menu >.menu-list >.menu-item {
    display:inline;
    margin:0px 10px; 
}
.container{
    margin: 20px 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card{ 
    width: 200px;
    box-shadow: 1px 1px 5px  gray;
    border:1px solid black;
    padding: 10px;
    margin:10px
}

.card > img{ 
    width: 100%;
}

.searchBar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchBar > .search-box{
    padding: 10px;
    margin: 10px;
    color: black;
}

.searchBar > .search-button{
    padding: 10px;
    margin: 10px;
    color: black;
}

.shimmer{
    width: 200px;
    height: 200px;
    background-color: lightgrey;
    box-shadow: 1px 1px 5px  gray;
    padding: 10px;
    margin:10px
}